<h1>Physiqual</h1>
<p><i>Let me hear your body talk...</i></p>


<div>
  <p>Sign in with <%= link_to 'google', 'http://google.com', class: 'waves-effect waves-light btn'%> </p>
  <p>Sign in with <%= link_to 'fitbit', 'http://google.com', class: 'waves-effect waves-light btn'%></p>
  
</div>
