<h1>Physiqual</h1>
<p><i>Let me hear your body talk...</i></p>


<div>
  <p><%= link_to 'google', physiqual.authorize_oauth_session_index_path(provider: 'google'), class: 'waves-effect waves-light btn'%> </p>
  <p><%= link_to 'fitbit', physiqual.authorize_oauth_session_index_path(provider: 'fitbit'), class: 'waves-effect waves-light btn'%></p>
  
</div>
